apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: ""
nameSuffix: ""

commonLabels:
  environment: dev

patches:
  - path: replicas-patch.yaml
  - path: resources-patch.yaml
  - path: config-patch.yaml
